body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #162c74;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    flex: 1;
}

#logout-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #162c74;
    border: 1px solid #162c74;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;

}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;

}


main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
    margin-top: 0;
}

.profile-section {
    text-align: center;
}

.profile-section img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
}

#upload-image {
    margin-bottom: 1rem;
}

#user-description {
    width: 100%;
    min-height: 80px;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.book-card,
.favorite-card {
    display: flex;
    align-items: center;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.book-card img,
.favorite-card img {
    width: 80px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


#history-container p {
    margin: 0.3rem 0;
    padding: 0.4rem;
    background-color: #ecf0f1;
    border-left: 4px solid #3498db;
    border-radius: 3px;
}

.pagination button {
    margin-right: 5px;
    color: #162c74;
    background-color: white;
    border: none;
    padding: 20px;
}

.return-btn {
    background-color: white;
    color: red;
    border: none;
    padding: 0.4rem 0.4rem;
    border-radius: 4px;
    cursor: pointer;
}

#username-display {
    font-size: 1.5rem;
    font-weight: bold;
    color: #162c74;
}

#username-display::first-letter {
    text-transform: uppercase;
}